tr
    td= link_to history.work_experience.title, work_experience_url(history.work_experience)
    td= link_to history.work_experience.user.name, user_url(history.work_experience.user)
    td= render 'work_experiences/tag_list', tag_list: history.work_experience.tag_list
